:root {
  --main-bg-color-light: var(--deep-koamaru-100)
}

body {
  background: var(--deep-koamaru-200);
}

.landing-section {
  height: 100vh;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    min-height: 100vh;

    @media (min-width: 1950px) {
      max-width: 1400px;
      margin: auto;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

    &-wrapper {
      height: 100vh;
      position: sticky;
      top: 0;
    }
  }

  &__info {
    background: #f0efffe6;
    color: var(--secondary);
    padding: 2rem 1rem;
    flex-direction: column;
    backdrop-filter: blur(3px);
    transition: .8s;
    position: absolute;
    opacity: 0;

    @media (min-width: 768px) {
      padding: 3rem;
    }

    &.show {
      transform: translate(0) !important;
      opacity: 1;
    }

    .data {
      .title {
        font-size: 1.6rem;
        font-weight: 500;

        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }

      &__content {
        font-size: 1rem;
        line-height: 1.6;
        margin-top: 1rem;
        color: var(--black);

        @media (min-width: 768px) {
          font-size: 1.1rem;
        }

        @media (min-width: 992px) {
          font-size: 1.3rem;
        }
      }
    }
  }

  &.productsAndServices {
    .landing-section {
      &__main {
        flex-grow: 1;

        @media (min-width: 768px) {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 50vw;

          @media (min-width: 1950px) {
            max-width: 50%;
          }
        }

        .landing-section__slider {
          padding: 1rem 0;
        }
      }

      &__slider {
        .swiper-slide {
          .card {
            margin: 0 1rem;
          }

          &:first-child {
            .card {
              margin-left: 2rem;
            }
          }
        }
      }
    }
  }

  &.center {
    max-width: unset !important;

    .landing-section__info {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;

      .info-image {
        max-width: 220px;
        border-radius: 50%;

        @media (min-width: 576px) {
          max-width: 250px;
        }

        @media (min-width: 992px) {
          max-width: 300px;
        }
      }

      .data {
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;
        margin-top: 1.5rem;

        @media (min-width: 576px) {
          font-size: 2rem;
        }

      }

      @media (min-width: 992px) {
        gap: 2rem;

        .data {
          font-size: 2.5rem;
          text-align: center;
          text-wrap: nowrap;
        }
      }
    }
  }

  &.right,
  &.bottom {
    height: unset;

    .landing-section {
      &__info {
        position: static;
      }

      &__background-wrapper {
        height: unset;
      }
    }
  }

  &.right {
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &.bottom {
    .landing-section__info {
      width: 100%;
      bottom: 0;
      left: 0;
      min-height: 30%;
      box-shadow: 0 -3px 15px 10px #00000033;
      border-top: 5px solid #FFBA48;
      transform: translateY(100%);

      .data {
        max-width: 900px;
      }

      @media (min-width: 1950px) {
        box-shadow: unset;
      }
    }

    @media (min-width: 768px) {
      min-height: unset;
      height: unset;

      .landing-section {
        &__info {
          position: static;
        }

        &__background-wrapper {
          height: unset;
        }
      }
    }
  }

  &.left,
  &.right {
    .landing-section__info {
      bottom: 0;
      transform: translateY(100%);

      @media (min-width: 768px) {
        max-width: 50vw;
        top: 0;
        bottom: unset;
        padding-top: 8rem;

        @media (min-width: 1950px) {
          max-width: 50%;
        }
      }
    }
  }

  &.left {
    height: unset;

    .landing-section {
      &__info {
        left: 0;
        box-shadow: 3px 0 10px 5px #0000001a;
        position: static;

        @media (min-width: 1950px) {
          box-shadow: none;
        }
      }

      &__background-wrapper {
        height: unset;
      }
    }

    @media (min-width: 768px) {
      min-height: unset;

      .landing-section {
        &__background-wrapper {
          height: 100%;
        }

        &__info {
          border-right: 5px solid #FFBA48;
          transform: translateX(-100%);
          position: absolute;
        }
      }
    }

  }

  &.right {
    .landing-section__info {
      right: 0;
      box-shadow: 0 -3px 10px 5px #0000001a;

      @media (min-width: 768px) {
        border-left: 5px solid #FFBA48;
        transform: translateX(100%);
      }

      @media (min-width: 1950px) {
        box-shadow: none;
      }
    }
  }
}

.section-home {
  padding: 3rem 1rem;
  position: relative;
  z-index: 1;

  .section {
    &__title {
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
      margin: auto;
      padding-bottom: 1rem;
      color: var(--deep-koamaru-950);

      @media (min-width: 768px) {
        font-size: 2rem;
        padding-bottom: 2rem;
      }
    }

    &__subtitle {
      text-align: center;
      color: var(--lt-color-gray-700);
      line-height: 1.6;
      max-width: 500px;
      margin: auto;

      @media (min-width: 768px) {
        font-size: 1.3rem;
        max-width: 600px;
      }
    }
  }

  &--card {
    background: var(--bg-transparent);
    min-height: 100vh;

    .section {
      &__title {
        border-bottom: 4px solid #FFBA48;
        max-width: 10rem;

        @media (min-width: 768px) {
          max-width: 20rem;
        }
      }

      &__grid {
        margin: 2rem auto 0;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 350px));
        gap: 1.5rem;
        justify-content: center;
        max-width: 1400px;
        padding: 0 1.5rem;

        .card {
          transition: all 0.2s ease-in-out;

          &:hover {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
            transform: translateY(-1px);
          }
        }

        @media (min-width: 576px) {
          grid-template-columns: repeat(2, minmax(0, 328px));
          padding: 0 1rem;
        }

        @media (min-width: 768px) {
          grid-template-columns: repeat(auto-fill, minmax(0, 350px));
          margin-top: 4rem;
          padding: 0;
        }
      }
    }
  }

  &--about-us {
    min-height: 100%;
    background-color: var(--main-bg-color-light);

    .section__title {
      border-bottom: 2px solid #FFBA48;
      padding-bottom: 0.25rem;
      width: 60%;
      margin: auto auto 2rem;
    }

    .section {
      &__grid {
        margin: 0.5rem auto 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(0, 450px));
        gap: 1.5rem;
        justify-content: center;
        max-width: 1400px;

        @media (min-width: 768px) {
          margin-top: 4rem;
          grid-template-columns: repeat(2, auto);
        }

        @media (min-width: 768px) {
          grid-template-columns: repeat(3, auto);
        }

        @media (min-width: 1200px) {
          max-width: 1200px;
        }

        .item {
          background: var(--bg-transparent);
          padding: 1rem;
          border-radius: 1rem;
          box-shadow: 0 1px 4px -2px #0000001a;

          &__title {
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--deep-koamaru-900);
            text-align: center;
            margin-bottom: .5rem;

            @media (min-width: 576px) {
              text-align: left;
            }

            @media (min-width: 992px) {
              font-size: 1.4rem;
            }
          }

          .card__text {
            font-size: 1rem;
            color: var(--deep-koamaru-700);
            text-align: center;

            @media (min-width: 576px) {
              text-align: left;
            }

            @media (min-width: 992px) {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  &--us-networks {
    background: var(--deep-koamaru-950);

    .section {
      &__title {
        color: var(--deep-koamaru-100);
        padding-bottom: 1rem;
      }

      &__subtitle {
        color: var(--deep-koamaru-200);
      }

      &__items {
        display: flex;
        gap: 1rem;
        height: 60px;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        @media (min-width: 768px) {
          gap: 1.5rem;
          height: 100px;

          a {
            padding: 1.1rem !important;
          }
        }

        a {
          height: 100%;
          background: var(--lt-color-gray-100);
          padding: 0.7rem;
          border-radius: 1rem;

          img {
            object-fit: contain;
            object-position: center center;
            height: 100%;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            &:hover {
              box-shadow: -0px 9px 8px -7px #ffffff;
              transform: translateY(-1px);
            }
          }
        }
      }
    }
  }
}

.card {
  border-radius: .75rem;
  background: var(--white);
  color: var(--black);
  height: 100%;
  box-shadow: 0px 4px 8px -2px #00000033;

  &__image {
    img {
      object-fit: contain;
      object-position: center center;
      width: 100%;
      border-radius: 1rem 1rem 0 0;
    }
  }

  &__info {
    padding: 1rem;
    max-height: 200px;
    overflow: hidden;
    transition: .4s;
    position: relative;

    @media (min-width: 768px) {
      max-height: 300px;
    }

    &::after {
      content: "";
      background: linear-gradient(0, var(--white) 70%, transparent);
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 0.5rem 0.5rem;
      display: none;
    }

    .c-btn {
      margin-left: auto;
      width: fit-content;
    }

    &.hide {
      &::after {
        display: block;
      }

      .see-more {
        display: block;
      }

    }

    &.show {
      max-height: 800px;
    }

    .see-more {
      position: absolute;
      right: 0;
      bottom: 0;
      color: var(--deep-koamaru-700);
      z-index: 1;
      font-weight: 600;
      padding: .5rem 1rem;
      font-family: sans-serif;
      display: none;
    }
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__date {
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }

  &__data {
    color: var(--lt-color-gray-700);
    padding: 1rem 0;
    text-wrap: pretty;
  }
}

.swiper-wrapper {
  &--services {
    padding: 1rem 0;
  }
}

.creators {
  a {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0 .25rem;
    border-radius: 50rem;
    opacity: 1;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .8;
      color: var(--deep-koamaru-950);
      background: var(--deep-koamaru-300);
    }
  }
}

.gradient {
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(334deg, #8386B0, #CECFE0, #B5B7D1);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
  position: absolute;
  z-index: 0;

  @media (min-width: 1600px) {
    display: block;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}