body {
  background: var(--deep-koamaru-200);
}

.landing-section {
  height: 100vh;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    min-height: 100vh;
  }

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

    &-wrapper {
      height: 100vh;
      position: sticky;
      top: 0;
    }
  }

  &__info {
    background: #f0efffb3;
    color: var(--secondary);
    padding: 2rem 1rem;
    flex-direction: column;
    backdrop-filter: blur(3px);
    transition: .8s;
    position: absolute;

    @media (min-width: 768px) {
      padding: 3rem;
    }

    &.show {
      transform: translate(0) !important;
    }

    .data {
      .title {
        font-size: 1.6rem;
        font-weight: 500;

        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }

      &__content {
        font-size: 1rem;
        line-height: 1.6;
        margin-top: 1rem;
        color: var(--black);

        @media (min-width: 768px) {
          font-size: 1.3rem;
        }
      }
    }
  }

  &.productsAndServices {
    .landing-section__main {
      flex-grow: 1;

      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.center {
    .landing-section__info {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .info-image {
        max-width: 220px;
        border-radius: 50%;

        @media (min-width: 576px) {
          max-width: 250px;
        }

        @media (min-width: 992px) {
          max-width: 300px;
        }
      }

      .data {
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;
        margin-top: 1.5rem;

        @media (min-width: 576px) {
          font-size: 2rem;
        }

      }

      @media (min-width: 992px) {
        gap: 2rem;

        .data {
          font-size: 2.5rem;
          text-align: center;
          text-wrap: nowrap;
        }
      }
    }
  }

  &.right,
  &.bottom {
    height: unset;

    .landing-section {
      &__info {
        position: static;
      }

      &__background-wrapper {
        height: unset;
      }
    }
  }

  &.right {
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &.bottom {
    .landing-section__info {
      width: 100%;
      bottom: 0;
      left: 0;
      min-height: 30%;
      box-shadow: 0 -3px 15px 10px #00000033;
      border-top: 5px solid #FFBA48;
      transform: translateY(100%);

      .data {
        max-width: 900px;
      }
    }

    @media (min-width: 768px) {
      min-height: unset;
      height: unset;

      .landing-section {
        &__info {
          position: static;
        }

        &__background-wrapper {
          height: unset;
        }
      }
    }
  }

  &.left,
  &.right {
    .landing-section__info {
      bottom: 0;
      transform: translateY(100%);

      @media (min-width: 768px) {
        max-width: 40vw;
        top: 0;
        bottom: unset;
        padding-top: 8rem;
      }
    }
  }

  &.left {
    height: unset;

    .landing-section {
      &__info {
        left: 0;
        box-shadow: 3px 0 10px 5px #0000001a;
        position: static;
      }

      &__background-wrapper {
        height: unset;
      }
    }

    @media (min-width: 768px) {
      min-height: unset;

      .landing-section {
        &__background-wrapper {
          height: 100%;
        }

        &__info {
          border-right: 5px solid #FFBA48;
          transform: translateX(-100%);
          position: absolute;
        }
      }
    }
  }

  &.right {
    .landing-section__info {
      right: 0;
      box-shadow: 0 -3px 10px 5px #0000001a;

      @media (min-width: 768px) {
        border-left: 5px solid #FFBA48;
        transform: translateX(100%);
      }
    }
  }
}

.section-home {
  padding: 3rem 1rem;
  position: relative;
  z-index: 1;

  .section {
    &__title {
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
      margin: auto;
      padding-bottom: 1rem;
      color: var(--deep-koamaru-950);

      @media (min-width: 768px) {
        font-size: 2rem;
        padding-bottom: 2rem;
      }
    }

    &__subtitle {
      text-align: center;
      color: var(--lt-color-gray-700);
      line-height: 1.6;
      max-width: 500px;
      margin: auto;

      @media (min-width: 768px) {
        font-size: 1.3rem;
        max-width: 600px;
      }
    }
  }

  &--card {
    background: var(--deep-koamaru-400);
    min-height: 100vh;

    .section {
      &__title {
        border-bottom: 4px solid #FFBA48;
        max-width: 10rem;

        @media (min-width: 768px) {
          max-width: 20rem;
        }
      }

      &__grid {
        margin: 2rem auto 0;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 350px));
        gap: 1.5rem;
        justify-content: center;
        max-width: 1350px;
        padding: 0 1.5rem;

        .card {
          transition: all 0.2s ease-in-out;

          &:hover {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
            transform: translateY(-1px);
          }
        }

        @media (min-width: 576px) {
          grid-template-columns: repeat(2, minmax(0, 328px));
          padding: 0 1rem;
        }

        @media (min-width: 768px) {
          grid-template-columns: repeat(auto-fill, minmax(0, 350px));
          margin-top: 4rem;
          padding: 0;
        }
      }
    }
  }

  &--about-us {
    min-height: 100vh;

    .section {
      &__grid {
        margin: 2rem auto 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(0, 328px));
        gap: 1.5rem;
        justify-content: center;
        max-width: 1350px;

        @media (min-width: 768px) {
          margin-top: 4rem;
        }

        .item {
          &__title {
            font-weight: 600;
          }

          &__text {}
        }
      }
    }
  }

  &--us-networks {
    background: var(--deep-koamaru-200);

    .section {
      &__items {
        display: flex;
        gap: 1rem;
        height: 60px;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        @media (min-width: 768px) {
          gap: 1.5rem;
          height: 100px;

          a {
            padding: 1.1rem !important;
          }
        }

        a {
          height: 100%;
          background: var(--lt-color-gray-100);
          padding: 0.7rem;
          border-radius: 1rem;

          img {
            object-fit: contain;
            object-position: center center;
            height: 100%;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            &:hover {
              box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
              transform: translateY(-1px);
            }
          }
        }
      }
    }
  }
}

.card {
  border-radius: .75rem;
  background: var(--white);
  color: var(--black);
  height: 100%;
  box-shadow: 0px 4px 8px -2px #00000033;

  &__image {
    img {
      object-fit: contain;
      object-position: center center;
      width: 100%;
      border-radius: 1rem 1rem 0 0;
    }
  }

  &__info {
    padding: 1rem;

    .c-btn {
      margin-left: auto;
      width: fit-content;
    }
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__date {
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }

  &__data {
    color: var(--lt-color-gray-700);
    padding: 1rem 0;
    text-wrap: pretty;
  }

  &--services {
    padding: 1rem;
  }
}

.swiper-wrapper {
  &--services {
    padding: 1rem 0;
  }
}

.creators {
  a {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0 .25rem;
    border-radius: 50rem;
    opacity: 1;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .8;
      color: var(--deep-koamaru-950);
      background: var(--deep-koamaru-300);
    }
  }
}