@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,100italic,300italic");

:root {
  --font-roboto: 'Roboto', Helvetica, sans-serif;

  // Colors
  --deep-koamaru-50: #FFFBFF;
	--deep-koamaru-100: #E7E7F0;
	--deep-koamaru-200: #CECFE0;
	--deep-koamaru-200-op-20: #ccdbff33;
	--deep-koamaru-300: #B5B7D1;
	--deep-koamaru-400: #9C9FC1;
	--deep-koamaru-500: #8386B0;
	--deep-koamaru-500-op-10: #3d5eff1a;
	--deep-koamaru-600: #6B6FA1;
	--deep-koamaru-700: #535792;
	--deep-koamaru-800: #393F82;
	--deep-koamaru-900: #212773;
	--deep-koamaru-950: #080F63;

	--bg-transparent: #ccdbffb3;
	--bg-transparent-90: #ccdbffe6;

	--black: #1a1a1a;
	--black-op-10: #1a1a1a1a;
	--white: #f2f2f2;
	--white-op-10: #f2f2f21a;

	--primary: var(--deep-koamaru-500);
	--secondary: var(--deep-koamaru-900);
}